---
layout: default
title: Home
---

{% if page.url == '/' %}
<!-- Featured Posts Header
================================================== -->
{% include header-bar.html text="Featured" %}

<!-- Featured Posts Index
================================================== -->
<div class="blog-grid-container-featured">
    {% assign featuredPosts = site.posts | where:"featured", true %}
    {% for post in featuredPosts limit:1 %}
            {% include postbox-featured.html %}
    {% endfor %}
</div>
{% endif %}

<!-- All Posts Header
================================================== -->
{% include header-bar.html text="All Stories" %}

<!-- Posts Index
================================================== -->
<div class="blog-grid-container">
    {% for post in paginator.posts %}
        {% include postbox.html %}
    {% endfor %}
</div>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

